*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#f0f8ff;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    width:80%;
    max-width:700px;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 0 15px gray;
}

h1{
    text-align:center;
    color:#00796b;
    margin-bottom:20px;
}

.quiz-box,.api-box{
    margin-top:20px;
}

.option{
    display:block;
    width:100%;
    margin:10px 0;
    padding:12px;
    border:none;
    background:#26a69a;
    color:white;
    border-radius:8px;
    cursor:pointer;
}

.option:hover{
    background:#00796b;
}

#nextBtn{
    margin-top:10px;
    padding:10px 20px;
}

.api-box button{
    margin-top:10px;
    padding:10px 20px;
}

/* Responsive Design */

@media(max-width:768px){
    .container{
        width:95%;
    }

    h1{
        font-size:24px;
    }
}

@media(max-width:480px){
    .option{
        font-size:14px;
        padding:10px;
    }

    h1{
        font-size:20px;
    }
}
